*.o
*.so
*.l[oa]
*.loT
.deps
.libs
*.pc
stamp-h*
config.h
*~
Makefile
Makefile.in
libtool
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/src/sexmain
/man/sexmain.1
/autoconf
